/* Home Page */
body {
  margin: 0;
  padding: 0;
  background-color: #92DCE0;
}
p {
  text-align: left;
}
#hello {
  text-align: center;
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
  padding-top: 200px;
}
#link-container {
  text-align: center;
  margin-top: 15px; 
}
#button {
  background-color: #28BE9B;
  color: #FFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

/* New Page */
#picture {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 30px;
}
.bio {
  font-family: sans-serif;
  font-size: 18px;
}
#name {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
}

#container {
  background-color: #fff;
  padding: 50px;
  padding-bottom: 500px;
}